<section class="fullwidth">
  <div class="container">
    <h3>Bookings</h3>
    <% if @bookings == nil %>
    <p>You have no bookings </p>
    <% else %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Trainclass</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr id="booking-<%= booking.id %>">
            <td><%= booking.user_id %></td>
            <td><%= booking.trainclass_id %></td>
            
            <td><button id="js-bks-burn" data-b-id="<%=booking.id%>" data-u-id="<%=current_user.id%>" data-t-id="<%=booking.trainclass_id%>">Burn!!</button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</section>