<% @my_fit_trackers.each do |track| %>

<ul id="exe-list" data-t="<%=track.id%>" class="collection">
  <li class="collection-item white">
  	<div class="row grey-text text-darken-4">
  		<div class="col s2">
				<p class="centered-p"><%= track.created_at.strftime("%m/%d/%Y %H:%M") %></p>
  		</div>
  		<div class="col s4">
				<p class="centered-p"><%= track.exercise %></p>
  		</div>
  		<div class="col s1">
				<p class="centered-p"><%= track.value %></p>
  		</div>
  		<div class="col s1">
				<p class="centered-p"><%= track.um %></p>
  		</div>
  		<div class="col s3">
				<p class="centered-p"><%= track.exercise_type %></p>
  		</div>
  		<div class="col s1">
				<b><%= link_to "BURN", destroy_user_my_fit_tracker_path(id: track.id, user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn-floating btn-large waves-effect waves-light red" %></b>
  		</div>
  	</div>	
  </li>
</ul>

<% end%>