<div id="info" class="block"><!--info partial -->
  <nav id="info-nav" ></nav>
  <section class="fullwidth fullheiht">
    <div class="container">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col s8 offset-s2">
          <table class="collection with-header">
            <thead>
              <tr class="collection-header">
                <th>Trainclass id</th>
                <th>Trainclass number</th>
                <th>Class Type</th>
                <th></th>
              </tr>
            </thead>
            <% if @bookings == nil %>
              <p>You have no bookings </p>
            <% else %>
              <tbody>
                <% @bookings.each do |booking| %>
                  <tr id="booking-<%= booking.id %>" class="collection-item"  >
                    <td><%= booking.id %></td>
                    <td><%= booking.trainclass_id %></td>
                    <td><%= booking.trainclass_id %></td>
                  
                    <td><b><%= link_to 'Burn!!', booking_destroy_path(booking), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn-floating btn-large waves-effect waves-light red" %></b></td>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>