<%= form_for(trainclass) do |f| %>
  <% if trainclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trainclass.errors.count, "error") %> prohibited this trainclass from being saved:</h2>

      <ul>
      <% trainclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="row white">
      <div class="input-field col s6 grey-text text-darken-4">
        <i class="material-icons prefix red-text">textsms</i>
        <%= f.label :date %> <br>
        <%= f.date_field :date %> <br>
      </div>
      <div class="input-field col s6 grey-text text-darken-4">
        <i class="material-icons prefix red-text">textsms</i>
        <%= f.label :time %> <br>
        <%= f.time_field :datetime %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="row white">
      <div class="input-field col s6 grey-text text-darken-4">
        <i class="material-icons prefix red-text">textsms</i>
        <%= f.label :capacity %> <br>
        <%= f.number_field :capacity, within: 1..15 %>
      </div>
      <div class="input-field  field col s6 grey-text text-darken-4">
        <i class="material-icons prefix red-text">textsms</i>
        <%= f.label :train_class_type %> <br>
        <%= f.select :train_class_type, Trainclass.train_class_types.keys %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="row white">
      <div class="input-field col s6 grey-text text-darken-4">
        <i class="material-icons prefix red-text">textsms</i>
        <%= f.label :coach_id %> <br>
        <%= f.number_field :coach_id, within: 1..5 %>
      </div>
      <div class="input-field  field col s6 grey-text text-darken-4">
        <button class="btn waves-effect waves-light red right"><%= f.submit%></button> 
      </div>
    </div>
  </div>
</div>

<% end %>
