<!DOCTYPE html>
<html>
  <head>
    <title>Boxed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  </head>

  <body>
  	<header class="navbar" role="navigation">
	  	<nav class="navbar-style red">
		    <div class="container">
		    	<%= link_to "BOXED", root_path, {"id": "logo"} %>
		        <% if user_signed_in? -%>
		          <ul id="nav-mobile" class="right hide-on-med-and-down">
		            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
		            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		            <li><%= link_to 'Classes', trainclasses_path %></li>
		          </ul>
			          <ul id="dropdown1" class="dropdown-content">
			          <li><a href="/users/<%=current_user.id%>/athlete_info/information">Information</a></li>
			          <li><a href="/users/<%=current_user.id%>/athlete_info/bookings">Bookings</a></li>
							  <li class="divider"></li>
			          <li><a href="/users/<%=current_user.id%>/my_fit_tracker">My Fit tracker</a></li>
							</ul>
		        <% else -%>
		          <ul>
		            <li><%= link_to 'Sign up', new_user_registration_path %></li>
		            <li><%= link_to 'Sign in', new_user_session_path %></li>
		          </ul>
		        <% end -%>
		    </div>
		  </nav>
	  </header>

    <%= yield %>

  	<footer>
      <% if user_signed_in? -%>
        <ul">
          <li><%= link_to 'Account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else -%>
	    	<p><%= link_to 'Admin login', new_user_session_path %></p>
      <% end -%>

		</footer>
  </body>
</html>
