<!DOCTYPE html>
<html>
  <head>
    <title>Boxed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header class="navbar" role="navigation">
		    <div class="navbar-inner">
		      <div id="logo"><%= link_to "BOXED", root_path %></div>
		        <nav >
		        <!-- USER SIGNED IN -->
		          <% if user_signed_in? -%>
		            <ul>
		              <li><%= link_to 'Account', edit_user_registration_path %></li>
		              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
		              <li><%= link_to 'Classes', trainclasses_path %></li>
		            </ul>
		          <% else -%>
		            <ul>
		              <li><%= link_to 'Sign up', new_user_registration_path %></li>
		              <li><%= link_to 'Sign in', new_user_session_path %></li>
		            </ul>
		          <% end -%>
		      </nav>
		    </div>
		  </header>

    <%= yield %>

  	<footer>
      <% if user_signed_in? -%>
        <ul">
          <li><%= link_to 'Account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else -%>
	    	<p><%= link_to 'Admin login', new_user_session_path %></p>
      <% end -%>

		</footer>
  </body>
</html>
